/* ---------- Basic needs ---------- */

$font-family: 'GothamProRegular', Arial, sans-serif;

@import 'fonts';
@import 'reset';

* { box-sizing: border-box; }

.wrapper {
	position: relative;
	/* Adding font and font-size to the page ----- */
	font-family: $font-family;
	font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* ---------- Main page ---------- */

.link {

	/* Adding geometry to the github icon in the top of the screen ----- */
	display: inline-block;
	padding-top: 4em;
	.img {
		/* Adding opacity in typical and hover statement ----- */
		opacity: .3;
		&:hover { opacity: 1;}
	}
}

.about {

	/* Adding color and background-gradient-color ----- */
	color: #FAFAFA;
	background: #00137f;
	background: -moz-linear-gradient(left, #00137f 0%, #3600aa 100%);
	background: -webkit-linear-gradient(left, #00137f 0%,#3600aa 100%);
	background: linear-gradient(to right, #00137f 0%,#3600aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00137f', endColorstr='#3600aa',GradientType=1 );

	/* Adding width in percents and height in vh ----- */
	width: 100%;
	height: 100vh;

	/* Adding some adaptivity ----- */
	padding: 0 4em 0 4em;
	line-height: 1.2;

	/* Alignment ----- */
	text-align: center;

	box-shadow: 0 5px 30px 2px rgba(0, 0, 0, .45);

	.title-wrap {

		/* Alignment of the titles ----- */
		position: relative;
		top: 50%;
		transform: translateY(-50%);

		/* Adding animation - smooth fade-in ----- */
		animation: fadeIn 2.5s;
	}

	&__title {
		/* Adding font-size and font properties ----- */
		font-size: 3em;
		font-weight: bold;
	}
	&__subtitle {
		/* Adding font-size and font properties ----- */
		font-size: 1.2em;
		margin-top: 1em;
	}
}

.measure {

	&-wrap {
		/* Adding height in vh measures ----- */
		height: 100vh;
	}
		
		/* Adding width with horizontal alignment and height ----- */
		width: 90%;
		height: 80vh;
		margin: 0 auto;
		
		/* Vertical alignment ----- */
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		
		/* Border-radius and shadow ----- */
		border-radius: 10px;
		box-shadow: 0 0 80px 10px rgba(0, 0, 0, .45);

		&__title {
			/* Alignment of the title ----- */
			text-align: center;
			
			/* Title stretching ----- */
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			
			/* Adding font and font properties to the title ----- */
			&_text {
				font-size: 2em;
				padding: 1em;
				font-weight: bold;
				border-bottom: 1px solid #ccc;
			}
		}
}

.input {

	/* Font family and focus statement added ----- */
	font-family: $font-family;
	&:focus { background-color: #e5ffe2; }

	/* Adding default properties ----- */
	outline: 0;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 10px;

	/* Block geometry ----- */
	&_geometry {
		display: block;
		width: 100%;
		&:nth-child(1n+2) { margin-top: 20px; }
	}

	/* Group properties ----- */
	&s {
		/* Block's width ----- */
		width: 80%;

		/* Vertical and horizontal alignment ----- */
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
	}
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Animation with prefixies ----- */

@-webkit-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@-ms-keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }